<footer class="page-footer font-small bg-dark pt-4">
    <!-- Footer Elements -->
    <div class="container ">
        <div class="row justify-content-center" >
            <div class="col-md-6 mb-4">
                <form class="input-group" action="" method="">
                    <input class="form-control" type="text" placeholder="Cari" aria-label="Your email" aria-describedby="basic-addon2" name="cari">
                    <div class="input-group-append">
                        <button class="btn btn-warning tombol" type="button">Cari</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6 mb-4">
                <!-- <form class="input-group">
                    <input type="text" class="form-control" placeholder="Masukkan email" aria-label="Your email" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-warning tombol" type="button">Daftar</button>
                    </div>
                </form> -->
                <div class="row">
                    <div class="col-2">
                        <a href="#" rel="noopener noreferrer">NEWS</a>
                    </div>
                    <div class="col-2">
                        <a href="#" rel="noopener noreferrer">NEWS</a>
                    </div>
                    <div class="col-2">
                        <a href="#" rel="noopener noreferrer">NEWS</a>
                    </div>
                    <div class="col-2">
                        <a href="#" rel="noopener noreferrer">NEWS</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Copyright -->
    <div class="footer-copyright text-center text-white py-3">© 2020 Copyright:
        <a href="#"> stationarydho.com</a>
    </div>
<!--akhir Copyright -->
</footer>