<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
</head>
<body>
    <H1>Selamat datang diwebsite kami</H1>
    <h2>{{ judul }}</h2>
    <ul>
        <li><a href="/" >Home</a></li>
        <li><a href="/about/" >About</a></li>
        <li><a href="/blog/" >Blog</a></li>
        <ul>
            <li><a href="/blog/news">News</a></li>
            <li><a href="/blog/cerita">Cerita</a></li>
        </ul>
    </ul>
</body>
</html>
